@using EpiServerProject.Models.ViewModels;
@using EpiServerProject.Models.Pages;
@model PageViewModel<BasePage>
<style type="text/css">
    .container{
        margin-top:40px;
        }

    .main-background{
      width: 100%; 
      height:1000px; 
      background-position: 50% 50%;
      display: block;
      background-attachment: fixed;
      background-color:#000;
    }
</style>


<div class="main-background" style="background-image:url('@Url.ContentUrl(Model.CurrentPage.BackgroundImage)')">
    <div class="container">

        <div class="row">
            @Html.PropertyFor(m => m.CurrentPage.MainBody)
        </div>
    </div>
</div>
