@model EpiServerProject.Models.Blocks.TextBlock
<style type="text/css">
    .blue_heading{
        text-align:center;
        font-size:15px;
        font-weight:400;
        background:#1CB2D5;
        color:#ffffff;
    }

    .panel{
        margin-top:20px;
        color: #E1E4E7;
        background-color: rgba(7, 14, 17, 0.9);
        border:0;
    }

    .panel-title{
        text-transform:uppercase;
    }

</style>

   <div class="col-md-3 col-xs-12 col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading blue_heading">
                <h3 class="panel-title"><b>@Html.PropertyFor(m => m.Title)</b></h3>
            </div>
            <div class="panel-body">@Html.PropertyFor(m => m.Body)</div>
        </div>
    </div>



