@using EPiServer.Core;
@model EpiServerProject.Models.Blocks.ProductsImagesBlock
<style type="text/css">
    .products-images {
        background: #000000;
    }

    .image-file {
        
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }

     .image-file:hover{
        background-color:#1CB2D5;
        opacity: 0.4;
        
     }
</style>

@{
   
    if (Model.Products.Items.Any())
    {
        <div class="products-images">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h5><span style="color:#B3B3B3">@Html.PropertyFor(x => x.Title)</span></h5>
                </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
          @{
                foreach (var contentItem in Model.Products.Items)
                {
                    var contentLoader = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<EPiServer.IContentLoader>();
                    var image = contentLoader.Get<EpiServerProject.Models.Media.ImageFile>(contentItem.ContentLink);
                    <img src="@Url.ContentUrl(image.ContentLink)" alt="@image.Name" class="image-file" width="170" height="70" />
                }
           }
             </div>
         </div>
     </div>
  </div>
    }
}
