@using EPiServer.Core;
@model EpiServerProject.Models.Blocks.FormBlock
<style type="text/css">
.panel{
    margin-top:20px;
    color: #C6CCD3;
    background-color: rgba(7, 14, 17, 0.9);
    border:0;
}
.panel>.panel-blue{
    background: linear-gradient(to bottom,#1CB2D5 ,#225068 100%);
    color:#E1E4E7;
    text-align:center;
    font-size: 18px;
    color: #E1E4E7;
    font-family: open-sans, sans-serif;
    font-weight:100;
 }
.panel >.panel-form{
    
}
</style>

<div class="col-md-3 col-md-offset-1">
   <div class="panel panel-primary">
      <div class="panel-heading panel-blue"><b>@Model.Heading</b></div>
         <div class="panel-body panel-form">
             @Html.PropertyFor(x => x.Form)
         </div>
      </div>
</div>
   