@model EpiServerProject.Models.Blocks.ProductionLineCarouselBlock
<style type="text/css">
    .carousel-inner > .item > img {
        height:500px;
        margin: auto;
    }

    .btn {
        margin-top: 30px;
        margin-bottom: 10px;
        border: 0 none;
        border-radius: 0;
        font-size: 20px;
        font-weight: 200;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .btn-primary {
        background: #32ADD6;
        color: #ffffff;
    }
     .btn-primary:hover {
        background: #32ADD6;
        color: #ffffff;
    }

    
    .row {
        background: #000000;
    }

    #myCarousel {
        background-repeat: repeat-x;
        background-position: left top;
        width:100%;
        height:500px;
        margin-top:10px;
    }

   
</style>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
    @{
        var contentLoader = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<EPiServer.IContentLoader>();
    }
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner" role="listbox">
        @foreach (var item in Model.Images.Items)
        {
            var image = contentLoader.Get<EpiServerProject.Models.Media.ImageFile>(item.ContentLink);
            if (Model.Images.Items.IndexOf(item) == 0)
            {
                <div class="item active">
                    <img class="carousel-image" src="@Url.ContentUrl(image.ContentLink)" alt="@image.Name">
                </div>
            }
            else
            {
                <div class="item">
                    <img src="@Url.ContentUrl(image.ContentLink)" alt="@image.Name">
                </div>

            }

        }
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
</div>


    <div class="col-md-4">
        <button type="button" class="btn btn-primary">PRODUCTION LINE</button>
    </div>


