@using EpiServerProject.Models.ViewModels;
@using EpiServerProject.Models.Pages;
@model PageViewModel<EpiServerProject.Models.Pages.StartPage>
<style type="text/css">
    .fullscreen_video {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
    }

    .company_video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
</style>

<div class="fullscreen_video">
    <video loop muted autoplay  class="company_video">
     <source src="@Url.ContentUrl(@Model.CurrentPage.Video)" type="video/mp4">
     </video>
</div>

